/*Reset*/
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.my-nav {
    background-image: url("../img/wooden_nav.jpg");
    box-shadow: 0 -1px 20px 7px saddlebrown;
    position: relative;
}

.menu {
    background-color: #4a4a4a;
    color: white;
    font-weight: 500;
}

.menu:hover {
    background-color: #F8E1C2;
    color: #966343;
}

.menu-click {
    background-color: #966343;
    color: white;
}

#text {
    font-family: 'Wendy One', sans-serif;
    color: #966343;
    position: absolute;
    top: 13px;
    left: 170px;
    font-size: 22px;
}

.container {
    width: 450px;
    height: 460px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border: 10px solid #4a4a4a;
    border-radius: 50%;
    background-color: #4a4a4a;
    padding: 0;
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: center;
}


.shapes {
    width: 200px;
    height: 200px;
    margin: 10px;
    z-index: 2;
    cursor: pointer;
}

#red {
    background-color: red;
    border-top-left-radius: 100%;
}

#blue {
    background-color: blue;
    border-top-right-radius: 100%;
}

#green {
    background-color: green;
    border-bottom-left-radius: 100%;
}

#yellow {
    background-color: yellow;
    border-bottom-right-radius: 100%;
}


.inner-circle {
    border-radius: 50%;
    background-color: white;
    font-size: 25px;
    border: 10px solid #4a4a4a;
    height: 215px;
    width: 215px;
    position: absolute;
    top: 108px;
    left: 25%;
    z-index: 3;
}

#simon {
    font-family: 'Bungee Inline', cursive;
    position: absolute;
    top: 20px;
    left: 20%;
    z-index: 4;
    font-size: 30px;
}

#simon span {
    font-size: 45px;
}

#start {
    border-radius: 50%;
    position: absolute;
    top: 87px;
    left: 13%;
    z-index: 4;
    font-size: 17px;
    padding: 3px 6px;
}

#round {
    border-radius: 25px;
    width: 60px;
    font-size: 20px;
    position: absolute;
    top: 87px;
    left: 57%;
    z-index: 4;
    text-align: center;
    background-color: black;
    color: red;
}

#on {
    font-size: 17px;
    position: absolute;
    top: 136px;
    left: 51%;
    z-index: 4;
    background-color: rgba(0, 204, 0, 0.64);
    color: darkgreen;
    font-weight: bold;
    padding: 3px 6px;
}

#off {
    font-size: 17px;
    position: absolute;
    top: 136px;
    left: 28%;
    z-index: 4;
    background-color: rgba(74, 74, 74, 0.64);
    color: rgba(254, 255, 183, 0.53);
    font-weight: bold;
    padding: 3px 6px;
}

footer {
    background-image: url("../img/wooden_footer.jpg");
    background-size: cover;
    height: 200px;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 610px;
}

.game-over {
    display: none;
    font-family: 'Wendy One', sans-serif;
    position: absolute;
    top: 206px;
    left: 260px;
    font-size: 65px;
}


@media screen and (max-width: 590px) {
    #text {
        top: 7px;
    }

    .menu {
        margin-top: 15px;
    }

    nav.my-nav.container-fluid {
        height: 73px;
    }
}



@media screen and (max-width: 480px) {
    .shapes {
        width: 180px;
        height: 180px;
        margin: 5px;
    }

    .container {
        width: 400px;
        height: 400px;
    }

    .inner-circle {
        height: 215px;
        width: 215px;
        top: 81px;
        left: 22%;
    }
}




